<body>

    <section class="hero">

        <h1>📄 AI PDF Information Extraction</h1>

        <p>
            Upload, Analyze & Extract Data Using AI
        </p>

    </section>

    <div class="container">

        <div class="upload-box">

            <div class="upload-icon">
                ☁️
            </div>

            <h2>Drag & Drop PDF Here</h2>

            <p>or Browse File</p>

            <input
                type="file"
                id="pdfFile"
                accept=".pdf">

        </div>

        <div class="keyword-card">

            <label>
                Keyword
            </label>

            <input
                type="text"
                id="keyword"
                placeholder="Enter keyword (optional)">

        </div>

        <button
            class="extract-btn"
            onclick="extractData()">

            Extract Information

        </button>

        <div id="documentInfo"></div>

        <div class="accordion-card">

            <h2>
                Important Information
            </h2>

            <div id="accordionContainer"></div>

        </div>

        <div class="json-card">

            <button
                class="json-btn"
                onclick="toggleJson()">

                View Raw JSON

            </button>

            <pre id="responseBox"></pre>

        </div>

    </div>

<script src="/static/script.js"></script>

</body>
</html>